---
import BaseLayout from "src/layouts/BaseLayout.astro";

const title = "FAQ: Preguntas más frecuentes";
const description = "Aquí resuelvo las preguntas más frecuentes de los usuarios";
---
<BaseLayout title={title} description={description} hero="gato2.png">
	<h1>FAQ</h1>
</BaseLayout>