---
import BaseLayout from "src/layouts/BaseLayout.astro";
import HeroBanner from "@components/HeroBanner.astro";

const title = "Portfolio Astro";
const description = "Página principal del portfolio construido con Astro";
---
<BaseLayout title={title} description={description}>
	<HeroBanner character="gato1.png" />
	<h1>Inicio</h1>
	<h2>AstroCat</h2>
	<p>Bienvenido al portafolio de <strong>AstroCat</strong>, un gato programador que ama el código y los ratones.</p>
	<p>En este portafolio, puedes ver mis mejores proyectos, aprender sobre mi proceso de trabajo y contactarme para trabajar juntos.</p>
	<p>Soy un gato curioso y siempre estoy aprendiendo cosas nuevas. Me encanta resolver problemas y crear cosas nuevas.</p>
	<p>Si tienes un proyecto en mente, no dudes en contactarme.</p>
	<p>¡Gracias por visitar mi portafolio!</p>
	<h2>Testimonnios</h2>

	<img src="/images/duck.png" alt="Pato Paco">
	<h3>Pato Paco</h3>
	<p>"Soy un pato muy feliz con el servicio que recibí de AstroCat. Me ayudó a crear una aplicación para encontrar comida, y ahora puedo encontrar el mejor grano en cuestión de segundos. ¡Es un genio!" - Pato Paco</p>

	<img src="/images/duck2.png" alt="Pato Pepe">
	<h3>Pato Pepe</h3>
	<p>"AstroCat es un verdadero profesional. Me ayudó a crear un sitio web para mi negocio de venta de patitos, y ahora tengo más clientes que nunca. ¡Estoy muy agradecido!" - Pato Pepe</p>

	<img src="/images/duck3.png" alt="Pato Lola">
	<h3>Pato Lola</h3>
	<p>"AstroCat es un gato muy amable y servicial. Me ayudó a resolver un problema con mi computadora, y lo hizo de forma muy rápida y eficiente. ¡Lo recomiendo encarecidamente!" - Pato Lola</p>
</BaseLayout>