---
import BaseLayout from "src/layouts/BaseLayout.astro";
import HeroBanner from "@components/HeroBanner.astro";

const title = "Portfolio Astro";
const description = "Mís trabajos";
---
<BaseLayout title={title} description={description}>
	<HeroBanner character="gato4.png" />
	<h1>Portfolio</h1>
</BaseLayout>