---
import BaseLayout from "src/layouts/BaseLayout.astro";

const title = "Portfolio Astro";
const description = "Mís trabajos";
---
<BaseLayout title={title} description={description} hero="gato4.png">
	<h1>Portfolio</h1>
</BaseLayout>