---
import BaseLayout from "src/layouts/BaseLayout.astro";
import HeroBanner from "@components/HeroBanner.astro";

const title = "Servicios";
const description = "Servicios prestados a la comuniad";
---
<BaseLayout title={title} description={description}>
	<HeroBanner character="gato3.png" />
	<h1>Services</h1>
</BaseLayout>