---
import SOCIALS from '@assets/socials.json';
import SocialLink from './SocialLink.astro';

const autor = "dragoncillos";
---
<style>
	footer {
		background: var(--theme-color-darkest);
		min-height: 100px;
	}
	.text {
		padding-top: 1rem;
		& p {
			font-family: var(--font-sans);
			color: #ccc;
			text-align: center;
		}
	}
	.socials {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 1rem;
		gap : 2rem;
	}
</style>
<footer>
	<div class="text">
		<p>2023 - Creado por {autor} con Astro 3</p>
	</div>
	<div class="socials">
		{SOCIALS.map(social => <SocialLink social={social}></SocialLink>)}
	</div>
</footer>